//registry.npmjs.org/:_authToken=&lt;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&gt;
@&lt;@selemondev&gt;:registry=https://registry.npmjs.org/
ignore-workspace-root-check=true
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=false